*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
}
.form{
    width: 400px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    background: rgba(22, 21, 21, 0.8);
    

    
border-radius: 10px;
}
.inputbox{
    width: 100%;
    
    
    position: relative;
}



.form h1{
    margin-bottom: 30px;
    color:white;
    text-align: center;
    text-transform: capitalize;

}
.form .inputbox{
    position: relative;
}
.form .inputbox input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;

    background: transparent;
    outline: none;

}
.form .inputbox label {
    position: absolute;
    top:0;
    left:0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    transition: 0.5s;


}
.form .inputbox input:focus ~ label
{
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}
.form .inputbox input:valid ~ label


{
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;

}
.form input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 17px;
   
}
.forgotp a{
    color: #03a9f4;
    padding-left: 38px;

}
.forgotp{
    padding-bottom: 12px;
    color: #03a9f4;
}
.sign
{
    color: #03a9f4;
    padding-bottom: 33px;
    padding-left: 43px;
}
.sign a{
    color: rgb(95, 255, 47);
}
