/* Import statements of various fonts which are used in the website */
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Fredoka+One&family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');



/* ----------------------------------Resetting the default margin and padding of the page to 0px---------------------------------- */
*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
}
 /* ----------------------------------Main body tag of the pae restting it to the default settings---------------------------------- */


/* ----------------------------------HEADER  START---------------------------------- */
/* Header of the page contaiting the logo dashboard text andd name and gmail details of the student  */
.headertop{
    position: fixed;
   width: 100%;
    height: 7rem; 
    z-index: 1111;   
    background-color: rgb(13, 106, 211);

}
/* Display settings of the dashbaord div with image */
#head{
    display: flex;
    flex-direction: row;
}
/* image in the dasbaord heading and coanting the logo of the website */

#head span img{
    flex: 1;
    margin: 0.3rem;
    padding:0.5rem;
    height: 90px;
    filter: invert(90%);
    width: 90px;
}

#dashtext {
    flex: 1;
    margin-top:1.1rem;
    color: whitesmoke;
    text-align: left;
    font-size: 4em;
    font-family: 'Fredoka One', cursive;
}


.teacherDetail{
    flex: 3;
    justify-content: flex-end;
    display:flex;
    margin-right: 2.3rem;
    margin-top: 0.3rem;
    
}


.teacherDetail p img{
    padding:0.5rem;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 4px solid whitesmoke;
    vertical-align: middle;
}

.tchrdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#connect{
    margin-top: 1.8rem;
    text-align: center;
    font-size:3em;
    font-family: 'Syncopate', sans-serif;
    color:rgb(233, 223, 223);
    
}

/*---------------------------------- HEADER END ----------------------------------*/

.mainconatainer{
    display: flex;
    box-sizing: border-box;
    /* justify-content: space-between; */
    flex-direction: row;
}
#previous_button{
    
    padding-top: 8rem;
    margin-top: 1rem;
   margin-left: 2rem;
   color: rgb(255, 255, 255);
}
#previous_button:hover{
    cursor: pointer;
   color: rgb(173, 173, 173);
}

.imagesslideshowdiv{
    display: flex;
    align-content: center;
    align-items: center;
    width:80%;
    height: auto;
    margin-top: 13rem;
    margin-left: 25rem;
}

.formsdiv{
    justify-content: center;
    width: auto;
}

.buttondiv{
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10rem;
    margin-left: 25rem;
    height: 60rem;
    width: 55rem;
    border-radius: 4rem;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: -1px 2px 45px 6px rgba(90,90,90,0.60); 
    box-shadow: -1px 2px 45px 6px rgba(90,90,90,0.60);
}

.buttondiv img{
    height: 35%;
    margin-top: 3rem;

}
#spantext{
    margin-top: -6rem;
    font-size: 3.8rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1.5rem;
}
#spantext img{
    height: 80px;   
    padding-left: 1rem; 
}

.signinbtn{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border-radius: 1rem;
    margin: 1.4rem;
    padding:1rem;
    font-size: 2.3em;
    width: 600px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:rgb(13, 113, 228)   ;
    border: none;
    color: white    ;
    -webkit-box-shadow: -1px 2px 23px -7px rgba(11,107,255,0.43); 
box-shadow: -1px 2px 23px -7px rgba(11,107,255,0.43);
}
.signinbtn:hover{
    font-size: 2.5rem;
    padding: 1.2rem;
    cursor: pointer;
}
.signinbtn:focus{
 outline:none;
}

.studentsigninform{
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
   align-items: center;
    margin-top: 10rem;
    margin-left: 25rem;
    height: 60rem;
    width: 55rem;
    border-radius: 4rem;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: -1px 2px 45px 6px rgba(90,90,90,0.60); 
    box-shadow: -1px 2px 45px 6px rgba(90,90,90,0.60);
}

.teachersigninform{
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
   align-items: center;
    margin-top: 10rem;
    margin-left: 25rem;
    height: 60rem;
    width: 55rem;
    border-radius: 4rem;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: -1px 2px 45px 6px rgba(90,90,90,0.60); 
    box-shadow: -1px 2px 45px 6px rgba(90,90,90,0.60);
}


.adminsigninform{
    align-items: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 10rem;
    margin-left: 25rem;
    height: 60rem;
    width: 55rem;
    border-radius: 4rem;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: -1px 2px 45px 6px rgba(90,90,90,0.60); 
    box-shadow: -1px 2px 45px 6px rgba(90,90,90,0.60);
}
.formimage{
    display: flex;
    width: 50%;
    height: 30%;
   
    align-items: center;
}
.formimage1{
    display: flex;
    width: 40%;
    height: 20%;
    margin-top: 1rem;
    align-items: center;
}
.spantexthead{
    margin-top: 1rem;
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: center;
    color:rgb(100, 100, 100);
    text-shadow: -1px 2px 4px rgba(48,21,13,0.79);
    padding-bottom: 1.5rem;
}
.spantexthead:hover{
    color: rgb(65, 64, 64);
}
.mainform{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.formlabel{
    font-size: 1.8rem;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: bold;
    color:rgb(145, 145, 145);
padding: 0.1rem;
padding-bottom: 0rem;
margin-left: 2rem;

}
.formlabel span{
    color: rgb(245, 35, 35);
}

.mainform input[type="text"], input[type="password"]{
padding:1.5rem;
width: 37rem;
margin: 1rem;   
margin-left: 1.9rem;
margin-top: 0.3rem;
margin-bottom: 2rem;
border-radius: 0.8rem;
border: 2px solid rgb(199, 198, 198);
font-size: 1.8em;
color:rgb(173, 173, 173);
}
.mainform input[type="text"]:focus, input[type="password"]:focus{
outline: none;

}
.mainform input[type="text"]:hover, input[type="password"]:hover{
border-radius: 1rem;
border:6px solid rgb(13, 113, 228);
}
.mainform input[type="text"]::placeholder, input[type="password"]::placeholder{
font-size: 1.4rem;
color:rgb(207, 207, 207);
letter-spacing: 1px;
}
.forgetandremeber{
    display: flex;
    margin-left: 3rem;
}
.remem{
    flex: 1;
    font-weight: bold;
    font-size: 1.5rem;
    color:rgb(117, 117, 117);
    padding-left: 0.4rem;
    font-family: 'Ubuntu', sans-serif; 
}
.forgetandremeber  input[type="checkbox"]{
    height: 1.5rem;
    width: 1.5rem;
}
.forgetandremeber  input[type="checkbox"]:hover{
    height: 1.7rem;
    width: 1.7rem;
   transition: 0.1ms all ease;

}

.forgetpass{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    flex: 1;
    color:rgb(13, 113, 228);
    padding-left: 10rem;
    font-family: 'Ubuntu', sans-serif; 
}
.forgetpass:hover{
    text-decoration: underline;
    font-size: 1.4rem;
}

.far{
    font-size: 2rem; 
    background-color: transparent;
    border: transparent;
    border-radius:none;
    color: rgb(100, 99, 99);
margin-left: -6rem;
    
    }
    


    footer{
        margin: 1rem;
        margin-top: 6rem;
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: 1px;
        font-family: 'Ubuntu', sans-serif;
        color: gray; 
    }
    footer a{
        color: gray;
        text-decoration: none;
    }
    footer a:hover  {
      text-decoration: underline;
      font-size: 1.65rem;
    }