@import url('https://fonts.googleapis.com/css2?family=Asap&family=Fredoka+One&family=Syncopate:wght@700&display=swap'); 
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        
        
        
    }
    
/* ----------------------------------HEADER  START---------------------------------- */
/* Header of the page contaiting the logo dashboard text andd name and gmail details of the student  */
.headertop{
    position: fixed;
   width: 100%;
    height: 6rem; 
    z-index: 1111;   
    background-color: rgb(11, 105, 212);

}
/* Display settings of the dashbaord div with image */
#head{
    display: flex;
    flex-direction: row;
}
/* image in the dasbaord heading and coanting the logo of the website */

#head span img{
    flex: 1;
    margin: 0.5rem;
    padding:0.5rem;
    height: 90px;
    filter: invert(90%);
    width: 90px;
}

#dashtext {
    flex: 1;
    margin-top:1rem;
    color: whitesmoke;
    text-align: left;
    font-size: 4em;
    font-family: 'Fredoka One', cursive;
}


.teacherDetail{
    flex: 3;
    justify-content: flex-end;
    display:flex;
    margin-right: 2.3rem;
    margin-top: 0.3rem;
    
}


.teacherDetail p img{
    padding:0.5rem;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 4px solid whitesmoke;
    vertical-align: middle;
}

.tchrdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#connect{
    margin-top: 1.6rem;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Syncopate', sans-serif;
    color:rgb(233, 223, 223);
    
}

/*---------------------------------- HEADER END ----------------------------------*/



    .ki::before{
   
        content: "";
        position: absolute;
        background-color: gainsboro;
        opacity:0.77;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .ki{
        padding-top: 5rem;
    }
    .imge img{
        width: 269px;
        height: 129px;
        padding-left: 64px;

    }
    .toplevelmaincontainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .maincontainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 22rem;
        margin-left: 30rem;

      
        
    }

    .studentsignin{
        flex: 1;
        justify-content: center;
        align-items: center;
        margin-right: 4rem;
    }
    .teachersignin{
        flex: 1;
        margin-right: 4rem;
    }
    .adminsignin{
        flex: 1;
        margin-right: 4rem;
    }

    .form{
        width: 400px;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        padding: 50px;
        background: rgba(22, 21, 21, 0.8);
        

        
    border-radius: 10px;
    }
    


    .form h1{
        margin-bottom: 30px;
        color:white;
        text-align: center;
        text-transform: capitalize;

    }
    .form .inputbox{
        position: relative;
    }
    .form .inputbox input{
        width: 100%;
        padding: 10px;
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        color: #fff;

        background: transparent;
        outline: none;

    }
    .form .inputbox label {
        position: absolute;
        top:0;
        left:0;
        letter-spacing: 1px;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        transition: 0.5s;


    }
    .form .inputbox input:focus ~ label
    {
        top: -20px;
        left: 0;
        color: #03a9f4;
        font-size: 12px;
    }
    .form .inputbox input:valid ~ label


    {
        top: -20px;
        left: 0;
        color: #03a9f4;
        font-size: 12px;

    }
    .form input[type="submit"]
    {
        background: transparent;
        border: none;
        outline: none;
        color: #fff;
        background: #03a9f4;
        padding: 8px 16px;
        border-radius: 5px;
        font-size: 17px;
    
    }
    .forgotp a{
        color: #03a9f4;
        padding-left: 38px;

    }
    .forgotp{
        padding-bottom: 12px;
        color: #03a9f4;
    }
    .sign
    {
        color: #03a9f4;
        padding-bottom: 33px;
        padding-left: 43px;
    }
    .sign a{
        color: rgb(95, 255, 47);
    }






    

    