
/* Import statements of various fonts which are used in the website */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Fredoka+One&family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');


/* Resetting the default margin and padding of the page to 0px */
*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header of the page contaiting the logo dashboard text andd name and gmail details of the student  */
.headertop{
    position: fixed;
   width: 100%;
    height: 5rem; 
    z-index: 1111;   
    background-color: rgb(11, 105, 212);

}
/* Display settings of the dashbaord div with image */
#dashboard{
    display: flex;
    
    flex-direction: row;
}
/* image in the dasbaord heading and coanting the logo of the website */
#dashboard span img{
    flex: 1;
    margin: 0.3rem;
    padding:0.5rem;
    height: 70px;
    filter: invert(90%);
    width: 70px;
}
/* Main text written is dashbaord for the student to know that its the dasboard contaning all the nesscary and resluts performance detials of the student */
#dashtext {
    flex: 1;
    margin-top:0.7rem;
    color: whitesmoke;
    text-align: left;
    font-size: 3em;
    font-family: 'Fredoka One', cursive;
}


.stdDetail{
    flex: 3;
    justify-content: flex-end;
    display:flex;
    margin-right: 2.3rem;
    margin-top: 0.3rem;
    
}


.stdDetail p img{
    padding:0.5rem;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 4px solid whitesmoke;
    vertical-align: middle;
}

.studentdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#welmsg{
    margin-top: 0.2rem;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Syncopate', sans-serif;
    color:rgb(233, 223, 223);
    
}
.studentname{
    font-size: 1em;
    font-family: 'Asap', sans-serif;
    color:rgb(230, 230, 230);
    text-transform: uppercase;
    margin-left: 6px;
    margin-top: 4px;
    
}

.studentgmail{
    font-size: 0.8em;
    font-family: 'Asap', sans-serif;
    color:rgb(230, 230, 230);
    margin-left: 8px;
    text-transform: lowercase;
    
}

.leftcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 8.5em;
    float: left;
    background-color: rgb(238, 238, 238);
    height: 170%;
    width: 20vw;
    /* z-index: -1; */
    left: -500px;      
    align-items: center;
    transition: 0.7s all ease;
    position:absolute;
    
}
.leftheader{
    justify-content: center;
    padding-top: 0.8rem;
    padding-left: 0.5rem;
    height: 60px;
    font-family: 'Zen Dots', cursive;
    width:20vw;
    color:rgb(245, 242, 236);
    background-color: darkgray;
    font-size: 1.7em;
    line-height: 40px;
}
.btnleftcon{
    margin: 0.5rem;
    height: 30px;
    width: 40px;
}

.Dashststudentdetail{
    display: flex;
    flex-direction: column;
    
}
.Imagestudent img{
    margin: 1rem;
height: 150px;
width: 140px;
border: 0.5rem solid rgb(221, 221, 221);
-webkit-box-shadow: 3px 9px 16px 5px rgba(140,139,139,0.92); 
box-shadow: 3px 9px 16px 5px rgba(140,139,139,0.92);    
justify-content: center;
align-items: center;

}
.Studentname{
    text-transform: uppercase;
    background-color: rgb(104, 164, 224);
    padding: 0.8rem;
    font-size: 1em;
    margin-bottom: 0.5rem;
    font-family: 'Syncopate', sans-serif;
    display: block;
    border-radius: 2rem;
    color:snow;
    font-weight: bold;
    text-shadow: 1px 1px 3px #7c7c7c;
}
.Studentid{
    text-transform: uppercase;
    background-color: rgb(194, 194, 194);
    padding: 0.8rem;
    font-size: 1.5em;
    margin-bottom: 0.5rem;
    font-family: 'Acme', sans-serif;
    display: block;
  justify-content:space-evenly ;
    color:snow;
    -webkit-box-shadow: 9px 9px 6px -2px rgba(0,0,0,0.83); 
box-shadow: 9px 9px 6px -2px rgba(0,0,0,0.83);
    margin-bottom: 1rem;
}
#stdId{
    color:steelblue;
    margin-left: 3rem;
}
hr{
    size: 4px;
    width: 100%;
    color: gainsboro;
}


.leftconlinks ul {
    display: block;
    list-style: none;
    justify-content:left;
    align-items:left    ;
    border-bottom: 2px solid black;
}
.leftconlinks ul li{
    display: block;  
    list-style: none;

    border-top: 1px solid rgb(153, 153, 153);
    width: 20vw;
}
.material-icons{
    font-size: 1.2em; 
    padding-top: 1.5rem;
    margin-right: 0.8rem;
    line-height: 1rem;
}

.leftconlinks ul li a{
    font-family: 'Comfortaa', cursive; 
    font-size: 1.7em;
    padding-left: 1.5rem;
    padding-bottom: 1.1rem;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    font-weight: bold;
    color: rgb(58, 57, 57);
}
.leftconlinks ul li:hover a{
    padding-left: 1.9rem;
    transition: 0.4s ease;
    cursor: pointer;
    color: white;
    border-bottom: 2px solid black;
    background-color: rgb(190, 190, 190);
}
.fa fa-times-circle{
    font-size: 1.2em; 
    padding:0.5rem;
   
    margin-right: 0rem;
    line-height: 0rem;
}
.fa fa-times-circle:hover{
    cursor: pointer;
    color: rgba(56, 55, 55, 0.92);
}

li a.active {
    background-color:lightgray;
    color: white;
}
.rightconatiner{
    margin-top: 5rem;
    float: right;
    background-color: rgb(231, 231, 231);
    height:10vh;
    width:100%;
    position: fixed;
   
} 

.maincontainer{
width: 100%;
margin-top: 9.5rem;
float: right;
transition:all  0.4s ease ;
background-color: rgb(91, 165, 250);
  height: 220vh;
}


.examdetail{
    display: flex;justify-content: space-between;
    margin: 2rem;
    padding: 0.5rem;
}
.PerformaExamdetail{
    font-size: 1.6em;
    color:whitesmoke; 
    font-weight: bold;  
}
#sname{
    font-size: 0.7em;
    color:whitesmoke; 
    font-family: 'Antic Slab', serif;
    font-weight: normal; 
    color: rgb(7, 241, 218);
}
.Ename{
    font-size: 0.7em;
    color:whitesmoke; 
    font-family: 'Antic Slab', serif;
    font-weight: normal; 
    color: rgb(7, 241, 218);
}
.Ecode{
    font-size: 0.7em;
    color:whitesmoke; 
    font-family: 'Antic Slab', serif;
    font-weight: normal; 
    color: rgb(7, 241, 218);
}

.resultdetail{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.resultdetail table, th, td{
    border:2px solid black;
    border-collapse:collapse;
}
.resultdetail table{
    width: 100%;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    border-collapse:collapse;
}
.resultdetail table th{
    font-size: 1.2em;   
        
    font-weight: bold;
    background-color: rgb(212, 212, 212);

}
.resultdetail table tr span{
display: block;

}
.resultdetail table   td {
  text-align: center;
  font-family: 'Antic Slab', serif;
font-size: 1em;  
font-weight: bold;
background-color:whitesmoke;
}

.resultdetail table th span{
    display: block;
}


 table tr  td span.Ename{
  font-family: 'Antic Slab', serif;
font-size: 1.2em;  
font-weight: bold;
color:blue;

}
 table tr  td span.Noofquestion{
color:blue;
}
 table tr  td span.Markrsscored{
color:rgb(85, 141, 0);
font-size: 1.3rem;
}
table tr  td span.Ecode{
    font-family: 'Antic Slab', serif;
font-size: 1.2em;  
font-weight: bold;
color:blue;
}
table tr  td span.examdate{
    color:rgb(15, 132, 136);
    }
    table tr  td span.examtimings{
        color:rgb(38, 86, 219);
        }
    table tr  td span.Startingtime{
        color:rgb(135, 219, 38);
        }
    table tr  td span.endingtime{
        color:rgb(253, 56, 56);
        }
    table tr  td span.totaltimetaken{
        color:rgb(85, 136, 248);
        }
    table tr  td span.percentage, .grade{
        color:rgb(6, 80, 240);
        font-size: 1.2rem;
        }
    table tr td span.FinalResult{
        color:rgb(3, 160, 42);
        font-size:1.2rem;
        }


#check{
 display:none;
}
label #barbtn, label #cancelbtn{
    position:absolute;
    cursor: pointer;
    background: rgb(151, 151, 151);
    border-radius: 3px;
}
label #barbtn{
    left: 20px;
    margin-top:3.4rem;
    top: 2.3rem;
    z-index: +1;
    font-size: 30px;
    color: white;
    padding: 6px 12px;
    position: fixed;
}

#check:checked ~  section .leftcontainer{
    left: 0;
    transition:0.4s all ease;
   
}
#check:checked ~  section .maincontainer{
    transition:0.4s all ease;
    width: 79.5%;
    
}

.tabbuttons{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.tablink{
    width:10rem;
    height: 4rem;
    border: none;
    font-family: 'Comfortaa', cursive; 
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 2px -1px 5px rgba(162,162,162,0.81);
}
.tablink:hover{
    background-color: rgb(185, 184, 184);
}

.studiv{
    padding: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
  #h1studdetail{
    font-size: 2em;
    font-family: 'Comfortaa', cursive; 
}
   #Studentnameh1{
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Comfortaa', cursive; 
}

table {
    margin-top: 2rem;
    border: none;
    margin-left: 13rem;
}
#studentdetailchart table tr {
    border: none;
    text-align: left;
    
}
#studentdetailchart table tr td{
    border: none;
    font-weight: bold;
    padding: 1rem;
    padding-left: 5rem;
    font-family: 'Antic Slab', serif;
    font-size: 1.3em;
}
.tabcontent{
    display: none;
    width: 73.7%;
    justify-content: center;
    align-items: center;
    height: 80vh;
    transition: 0.4s all ease;
    margin-left: 12.5rem;
}
#check:checked ~  section .tabcontent{
    width:92.7%;
    transition: 0.4s all ease;
    margin-left: 2.75rem;
}
#studentdetailchart{
    background-color: lavender; 
}

#summarydetailchart{
    background-color: rgb(233, 250, 250);
}
#scoredetailchart{
    background-color: rgb(250, 200, 200);
}
#topicanachart{
    background-color: rgb(240, 220, 248);
}
#quesanachart{  
    background-color: rgb(248, 245, 203);
}
#diffcultylevelchart{
     background-color: rgb(192, 241, 214);
}
#Reportcard{
    background-color: rgb(164, 210, 240);
}
.maindiv{
    
    justify-content: center;
    align-items: center;
}
span .summarytext{
    margin-top: 5rem;
}
.summarytext{
    margin: 7rem;
    display: flex;
    flex-direction: column;
    font-size: 5em;
font-weight: bold;
color:crimson;
text-align: center;
justify-content: center;
align-items: center;
    font-family: 'Antic Slab', serif;
}
.summarytext:hover{
    
color:rgb(245, 139, 160);

}
.errorMsg{
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
font-weight: bold;
text-align: center;
justify-content: center;
align-items: center;
line-height: 3.5rem;
color:darkblue;
    font-family: 'Antic Slab', serif;
}
.contentdiv{
    display: flex;
    flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

#changebytab{
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Antic Slab', serif;
    /* background-size: auto auto; */
    width: 100%;
    margin-top: 0.5em;
    margin-left:20% ;
    height: inherit;
}


















/* FOOTER */
.footer{
  
    height: 43vh;
    width: 100%;
    background-color: rgb(128, 128, 128);
    margin-top: 21rem;
}
.resverdmanaged{
    
   position: relative;
display: block;
padding:0.8rem;
text-align: center;
background-color: rgb(112, 112, 112);
font-size: 1.2em;
font-weight: bold;
color:whitesmoke;
font-family: 'Ubuntu', sans-serif;
}

.footercontent{
    display: flex;
    justify-content: space-between;
}
.aboutdesigner{
flex: 2;
margin-top: 1rem;
}
#desingername{
    font-size: 2em;
    font-family: 'Coiny', cursive;
    color:white;
    text-shadow: 5px 4px 5px rgba(0,0,0,0.89);
    margin:1rem 0rem 1rem 1rem;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
}
#desingername:hover{
    
    color:rgb(218, 218, 218);
}
#desingername1:hover{
    
    color:rgb(77, 246, 252);
    
}
#desingername1{
    font-size: 2em;
    font-family: 'Coiny', cursive;
    color:rgb(2, 225, 233);
    text-shadow: 3px 1px 2px rgba(246, 251, 252, 0.89);
    margin:1rem 0rem 1rem 0rem;
    padding: 1rem 0rem 0.5rem 0rem;
}
.aboutpara{
    font-size: 1.1em;
    width: 35rem;
    padding-left: 1.7rem;
    color:whitesmoke;
    padding-bottom: 0.3rem;
}
.fa{
    z-index: index -1;
    transform: rotate(90deg);
    color:whitesmoke;
}
.phone a{
    text-decoration: none;
    font-size: 1em;
    padding-left:0.5rem;
    color:whitesmoke;

}
.phone1 a{
    text-decoration: none;
    font-size: 1em;
    padding-left:0.5rem;
    color:whitesmoke;

}
.phone1 a:hover, .phone a:hover{
    font-size: 1.04em;
    color:rgb(2, 225, 233);
}
.phone {
    padding-top: 0.3rem;
    text-decoration: none;
    font-size: 1em;
    padding-left:5rem;
    color:whitesmoke;
}

.phone1 {
    display: flex;
    margin-top: -3rem;
    text-decoration: none;
    font-size: 1em;
    padding-left:15rem;
    color:whitesmoke;
}
.fab{
color:white;
    padding:0rem 1rem 1rem 1rem;
    font-size: 3rem;
}
#facebook:hover{
color:rgb(54, 54, 228);
}
#Instagram:hover{
    color:yellow;
}
#twitter:hover{
    color:rgb(26, 171, 228);
}
#youtube:hover{
    color:red;
}
#linkedin:hover{
    color:rgb(164, 210, 240);
}
.sociallinksfooter ul{
    display: flex;
    margin-left: 4rem;
}
.sociallinksfooter ul { 
  margin-top: 2rem;
}
.sociallinksfooter ul li { 
  list-style: none;
}
.footerlinks{
flex: 1;
}
.mainfooterlinks{
    margin-top: 1.5rem;
}
.quicklinktext, #formhead{
    font-size: 1.5em;
    font-family: 'Fredoka One', cursive;
    color: whitesmoke;
    text-shadow: 5px 4px 5px rgba(0,0,0,0.89);
}

.mainfooterlinks ul li {
    line-height: 1.5rem;
    color: white;
    
}

.mainfooterlinks ul li a{
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding:1rem;
    
    font-family: 'Antic Slab', serif;
    color: whitesmoke;
}
.mainfooterlinks ul li a:hover{
    padding-left: 1.3rem;
    color:rgb(2, 225, 233);
}

.contactusm{
    flex: 1;
    margin-top: 1.5rem;
}
.contactusform{
    display: flex;
    flex-direction: column;
}
.contactusform input{
    font-family: 'Antic Slab', serif;
    font-weight: bold;
    color: white;
    width: 290px;
    margin:1rem 0rem 0.5rem 0rem;
    padding: 0.5rem;
   font-size: 1.1em;
   background-color: rgb(92, 92, 92);
   border:2px solid rgb(94, 93, 93);
   border-radius: 5px;
}
 #contactmessagetextarea{
    font-family: 'Antic Slab', serif;
    font-weight: bold;
    color: white;
    width: 290px;
    margin:0.1rem 0rem 0.5rem 0rem;
    padding: 0.5rem;
   font-size: 1.1em;
   background-color: rgb(92, 92, 92);
   border:2px solid rgb(94, 93, 93);
   border-radius: 5px;
}
.contactusform input:focus, #contactmessagetextarea:focus{
   border:none;}
.contactusform input:hover, #contactmessagetextarea:hover{
   border:none;
}
.contactusform input::placeholder, #contactmessagetextarea::placeholder { 
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-size: 0.8em;
    letter-spacing: 2px;
    opacity: 1; /* Firefox */
  }
  
  .contactusform input :-ms-input-placeholder, #contactmessagetextarea::placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  .contactusform input ::-ms-input-placeholder, #contactmessagetextarea::placeholder { /* Microsoft Edge */
    color: white;   
  }

#sendmessage{
    width: 290px;
    font-weight: bold;
    border:none;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 8px;
    font-size: 1.5em;
    color: white;
    box-shadow: 2px 2px 4px rgb(1, 99, 102);
    padding: 0.2rem;
    background-color: rgb(4, 230, 230);
    
}
#sendmessage:hover{
   background-color: rgb(134, 243, 247);
    font-size: 1.6em;
}
#sendmessage .material-icons{
    margin-top: 0rem;
    font-size: 1.5em;
    
            padding-top: 1.3rem;
            margin-right: 0rem;
            line-height: 0rem;
}
#sendmessage .material-icons:hover{
  font-size: 1.7em;
}
p .material-icons{
    font-size: 1.3em;
font-family: 'Ubuntu', sans-serif;
        padding-top: 0rem;
        margin-right: 0rem;
        line-height: 0rem;
    }
    .contactusform button .material-icons {
        transform: rotate(-45deg);
    }
    
    