/* Import statements of various fonts which are used in the website */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Fredoka+One&family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');



/* Resetting the default margin and padding of the page to 0px */
*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 242, 242);
}

/* Header of the page contaiting the logo dashboard text andd name and gmail details of the student  */
.headertop{
    position: fixed;
   width: 100%;
    height: 5rem; 
    z-index: 1111;   
    background-color: rgb(11, 105, 212);

}
/* Display settings of the dashbaord div with image */
#head{
    display: flex;
    flex-direction: row;
}
/* image in the dasbaord heading and coanting the logo of the website */
#head span img{
    flex: 1;
    margin: 0.3rem;
    padding:0.5rem;
    height: 70px;
    filter: invert(90%);
    width: 70px;
}

#dashtext {
    flex: 1;
    margin-top:1.1rem;
    color: whitesmoke;
    text-align: left;
    font-size: 2.3em;
    font-family: 'Fredoka One', cursive;
}


.teacherDetail{
    flex: 3;
    justify-content: flex-end;
    display:flex;
    margin-right: 2.3rem;
    margin-top: 0.3rem;
    
}


.teacherDetail p img{
    padding:0.5rem;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 4px solid whitesmoke;
    vertical-align: middle;
}

.tchrdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#connect{
    margin-top: 1.2rem;
    text-align: center;
    font-size: 2em;
    font-family: 'Syncopate', sans-serif;
    color:rgb(233, 223, 223);
    
}

section{
    justify-content: center;
    align-items:center;
padding-top: 5rem;
}



.maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

#registrationtext{
    margin: 3rem;
    font-family: 'Fredoka One', cursive;
    font-size: 2.5rem;   
   color:rgb(87, 85, 85);
   
}
#registrationtext p {
    margin:0.7rem 0rem 0rem  14.5rem;
    font-size: 0.8rem;   
   font-family: sans-serif;
    color:red;
    
}


/* css  of personal detials div start form here */

.personal_Details{
    justify-content: center;
    align-items: center;
   
}
.details_head{
   font-weight: bold;
    margin-left: 20rem;
    padding: 0.3rem;
    font-size: 1.8rem;
    margin-top: 2.5rem;
    font-family: 'Acme', sans-serif;
    color:rgb(63, 62, 62);
    
}
.personal_Detailscont{
    padding: 2.5rem;
    box-sizing: border-box;
    display: flex;
    margin-left: 20rem;
    margin-right: 20rem;
    background-color: rgb(240, 238, 238);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 1rem;
    flex-direction: column;
}
.personal_Detailscont label{
    font-weight:bold;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    padding:2rem 0.3rem 0.3rem 0rem;
    color:rgb(88, 88, 88);
    
    
}
.personal_Detailscont label span {
    color:rgb(233, 22, 22);
    
    
}
.personal_Detailscont input {
    padding:0.8rem;
    color:rgb(126, 126, 126);
    background-color: rgb(235, 232, 232);
    border: 1px solid rgb(209, 208, 208);
    border-radius: 0.5rem;
    font-size: 1.1rem;
    
}
.personal_Detailscont input::placeholder {
    font-size: 1rem;
    color: rgb(155, 154, 154);
    
}
.personal_Detailscont input:focus {
    background-color: whitesmoke;
    border-radius: 0.5rem;
    border: 1px solid rgb(172, 172, 172);
    outline: none;
    text-transform: uppercase;
    
    
}
.genderdiv{
    
    background-color: rgb(235, 232, 232);
    border: 1px solid rgb(209, 208, 208);
    border-radius: 0.5rem;
    display: inline-block;
    padding:0.8rem;
}

.genderdiv .gendertextlabel{
    font-size: 0.9rem;
    padding:1.2rem 0.5rem 0.5rem 0.5rem;
}
.instruction{
    font-size: 0.7rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color :rgb(104, 103, 103);
    padding:0.4rem;
    
}

#photo::-webkit-file-upload-button{
    background-color: rgb(235, 232, 232);
    border: 2px solid rgb(209, 208, 208);
    border-radius: 0.3rem;
    padding:0.4rem;
    color: rgb(112, 112, 112);
    margin:0.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

#photo::-webkit-file-upload-button:hover{
    background-color: rgb(207, 207, 207);
    border: 2px solid rgb(145, 145, 145);
   
    padding:0.5rem;
    color: rgb(112, 112, 112);
    
}
/* div of personal details end here  */


/* starting of the resdential detials div her */
.residential_Details{
    justify-content: center;
    align-items: center;
   
}

.residential_Detailscont    {
    padding: 2.5rem;
    box-sizing: border-box;
    display: flex;
    margin-left: 20rem;
    margin-right: 20rem;
    background-color: rgb(240, 238, 238);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 1rem;
    flex-direction: column;
}

.residential_Detailscont label{
    font-weight:bold;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    padding:2rem 0.3rem 0.3rem 0rem;
    color:rgb(88, 88, 88);
    
    
}
.residential_Detailscont label span {
    color:rgb(233, 22, 22);
    
    
}
.residential_Detailscont input {
    padding:0.8rem;
    color:rgb(126, 126, 126);
    background-color: rgb(235, 232, 232);
    border: 1px solid rgb(209, 208, 208);
    border-radius: 0.5rem;
    font-size: 1.1rem;
    
}
.residential_Detailscont input::placeholder {
    font-size: 1rem;
    color: rgb(155, 154, 154);
    
}
.residential_Detailscont input:focus {
    background-color: whitesmoke;
    border: 1px solid rgb(172, 172, 172);
      border-radius: 0.5rem;
  outline: none;
    text-transform: uppercase;
    
    
}




#photo::-webkit-file-upload-button{
    background-color: rgb(235, 232, 232);
    border: 2px solid rgb(209, 208, 208);
    border-radius: 0.3rem;
    padding:0.4rem;
    color: rgb(112, 112, 112);
    margin:0.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.countrydropdown{
    padding:0.8rem;
    color:rgb(126, 126, 126);
    background-color: rgb(235, 232, 232);
    border: 1px solid rgb(209, 208, 208);
    border-radius: 0.5rem;
    font-size: 1.1rem;
}
.countrydropdown  select{
    padding:0.8rem;
    color:rgb(126, 126, 126);
    background-color: rgb(221, 141, 141);
    border: 1px solid rgb(209, 208, 208);
    border-radius: 0.5rem;
    font-size: 1.1rem;
}
.countrydropdown:focus{
    outline: none;
}


textarea{
    padding:0.8rem;
    color:rgb(126, 126, 126);
    background-color: rgb(235, 232, 232);
    border: 1px solid rgb(209, 208, 208);
    border-radius: 0.5rem;
    font-size: 1.1rem;

}


textarea::placeholder {
    font-size: 1rem;
    color: rgb(155, 154, 154);
    
}
textarea:focus {
    background-color: whitesmoke;
    border: 1px solid rgb(172, 172, 172);
      border-radius: 0.5rem;
  outline: none;
    
}


/* end of  resdential details div here  */

/* starting of the contact div form here */

.residential_Detailscont .email:focus{
    background-color: whitesmoke;
    border: 1px solid rgb(172, 172, 172);
      border-radius: 0.5rem;
      text-transform: lowercase;
  outline: none;
}

.verifyenailbtn{
    padding:0.8rem;
    color:rgb(78, 77, 77);
    background-color: rgb(235, 232, 232);
    border: 1px solid rgb(209, 208, 208);
    border-radius: 0.5rem;
    margin-top: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}
.verifyenailbtn:hover{
    padding:0.9rem;
    color:rgb(78, 77, 77);
    background-color: rgb(226, 226, 226);
    border: 1px solid rgb(126, 124, 124);

  
    font-size: 1.4rem;
}

/* end of  Contact details div here  */
#schoolid::-webkit-file-upload-button{
    background-color: rgb(235, 232, 232);
    border: 2px solid rgb(209, 208, 208);
    border-radius: 0.3rem;
    padding:0.4rem;
    color: rgb(112, 112, 112);
    margin:0.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
#schoolid::-webkit-file-upload-button:hover{
    background-color: rgb(207, 207, 207);
    border: 2px solid rgb(145, 145, 145);
   
    padding:0.5rem;
    color: rgb(112, 112, 112);
    
}

.subject_teach{
    justify-content: center;
    display: flex;
    padding: 1rem;
    color:rgb(126, 126, 126);
    background-color: rgb(235, 232, 232);
    border: 1px solid rgb(209, 208, 208);
    border-radius: 0.5rem;
    font-size: 1.1rem;

}
.subject_teach label{
    padding: 0px;
    
}

.subject_teach1{
    flex: 1;
   
}

.subject_teach1 label {
    flex: 1;
  
   
}
.subject_teach2{
    flex: 1;
  
}
.subcodes{
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    color:rgb(126, 126, 126);
    background-color: rgb(235, 232, 232);
    border: 1px solid rgb(209, 208, 208);
    border-radius: 0.5rem;
    font-size: 1.1rem;

}



 .subcodes2  input {
    padding:0.5rem;
margin:0.5rem;

    color:rgb(126, 126, 126);
    background-color: rgb(235, 232, 232);
    border: 1px solid rgb(209, 208, 208);
    border-radius: 0.5rem;
    font-size: 1.2rem;
}



/* Ending of the Teaching Details  div form here */



/* Starting of the form Submisssion  div form here */
    .captachdiv img{
        height: 50px;
        width: 70px;
        padding-left: 1rem;
        /* padding-top: 1.5rem; */
        filter: invert();
    }

    .captachdiv{
        display: flex;
        margin-top: 2rem;
    }

    #entered-captcha{
        text-transform: none;
    }
    #generated-captcha{
        background-color: rgb(160, 158, 158);
        color: black;
        border-radius: 0.2rem;
        text-align: center;
        font-size: 1.5rem;
        padding:0.5rem;
        font-weight: bold;
        width: 200px;
        
    }
    .buttonsdiv{
        display: flex;
        flex-direction: column;
    }
    .buttonsdiv .btn{
    background-color: rgb(216, 213, 213);
    margin:1rem;
    padding:1rem;
    border-radius: 0.7rem;
    border:2px solid    grey;
    -webkit-box-shadow: 1px 15px 10px -5px rgba(74,74,74,0.78); 
    box-shadow: 1px 15px 10px -5px rgba(74,74,74,0.78);
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color:rgb(87, 87, 87);  

}
    .buttonsdiv .btn:hover{
    background-color: rgb(228, 228, 228);
    border:3px solid    rgb(107, 106, 106);
    font-size: 1.7rem;

    color: rgb(11, 105, 212);  

}
hr{
    margin-top: 1rem;
    height: 1rem;
    color: black;
}









/* FOOTER */
.footer{
  position: sticky;
    height: 43vh;
    width: 100%;
    background-color: rgb(128, 128, 128);
 
}
.resverdmanaged{
    
   position: relative;
display: block;
padding:0.8rem;
text-align: center;
background-color: rgb(112, 112, 112);
font-size: 1.2em;
font-weight: bold;
color:whitesmoke;
font-family: 'Ubuntu', sans-serif;
}

.footercontent{
    display: flex;
    justify-content: space-between;
}
.aboutdesigner{
flex: 2;
margin-top: 1rem;
}
#desingername{
    font-size: 2em;
    font-family: 'Coiny', cursive;
    color:white;
    text-shadow: 5px 4px 5px rgba(0,0,0,0.89);
    margin:1rem 0rem 1rem 1rem;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
}
#desingername:hover{
    
    color:rgb(218, 218, 218);
}
#desingername1:hover{
    
    color:rgb(77, 246, 252);
    
}
#desingername1{
    font-size: 2em;
    font-family: 'Coiny', cursive;
    color:rgb(2, 225, 233);
    text-shadow: 3px 1px 2px rgba(246, 251, 252, 0.89);
    margin:1rem 0rem 1rem 0rem;
    padding: 1rem 0rem 0.5rem 0rem;
}
.aboutpara{
    font-size: 1.1em;
    width: 35rem;
    padding-left: 1.7rem;
    color:whitesmoke;
    padding-bottom: 0.3rem;
}
.fa{
    z-index: index -1;
    transform: rotate(90deg);
    color:whitesmoke;
}
.phone a{
    text-decoration: none;
    font-size: 1em;
    padding-left:0.5rem;
    color:whitesmoke;

}
.phone1 a{
    text-decoration: none;
    font-size: 1em;
    padding-left:0.5rem;
    color:whitesmoke;

}
.phone1 a:hover, .phone a:hover{
    font-size: 1.04em;
    color:rgb(2, 225, 233);
}
.phone {
    padding-top: 0.3rem;
    text-decoration: none;
    font-size: 1em;
    padding-left:5rem;
    color:whitesmoke;
}

.phone1 {
    display: flex;
    margin-top: -3rem;
    text-decoration: none;
    font-size: 1em;
    padding-left:15rem;
    color:whitesmoke;
}
.fab{
color:white;
    padding:0rem 1rem 1rem 1rem;
    font-size: 3rem;
}
#facebook:hover{
color:rgb(54, 54, 228);
}
#Instagram:hover{
    color:yellow;
}
#twitter:hover{
    color:rgb(26, 171, 228);
}
#youtube:hover{
    color:red;
}
#linkedin:hover{
    color:rgb(164, 210, 240);
}
.sociallinksfooter ul{
    display: flex;
    margin-left: 4rem;
}
.sociallinksfooter ul { 
  margin-top: 2rem;
}
.sociallinksfooter ul li { 
  list-style: none;
}
.footerlinks{
flex: 1;
}
.mainfooterlinks{
    margin-top: 1.5rem;
}
.quicklinktext, #formhead{
    font-size: 1.5em;
    font-family: 'Fredoka One', cursive;
    color: whitesmoke;
    text-shadow: 5px 4px 5px rgba(0,0,0,0.89);
}

.mainfooterlinks ul li {
    line-height: 1.5rem;
    color: white;
    
}

.mainfooterlinks ul li a{
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding:1rem;
    
    font-family: 'Antic Slab', serif;
    color: whitesmoke;
}
.mainfooterlinks ul li a:hover{
    padding-left: 1.3rem;
    color:rgb(2, 225, 233);
}

.contactusm{
    flex: 1;
    margin-top: 1.5rem;
}
.contactusform{
    display: flex;
    flex-direction: column;
}
.contactusform input{
    font-family: 'Antic Slab', serif;
    font-weight: bold;
    color: white;
    width: 290px;
    margin:1rem 0rem 0.5rem 0rem;
    padding: 0.5rem;
   font-size: 1.1em;
   background-color: rgb(92, 92, 92);
   border:2px solid rgb(94, 93, 93);
   border-radius: 5px;
}
 #contactmessagetextarea{
    font-family: 'Antic Slab', serif;
    font-weight: bold;
    color: white;
    width: 290px;
    margin:0.1rem 0rem 0.5rem 0rem;
    padding: 0.5rem;
   font-size: 1.1em;
   background-color: rgb(92, 92, 92);
   border:2px solid rgb(94, 93, 93);
   border-radius: 5px;
}
.contactusform input:focus, #contactmessagetextarea:focus{
   border:none;}
.contactusform input:hover, #contactmessagetextarea:hover{
   border:none;
}
.contactusform input::placeholder, #contactmessagetextarea::placeholder { 
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-size: 0.8em;
    letter-spacing: 2px;
    opacity: 1; /* Firefox */
  }
  
  .contactusform input :-ms-input-placeholder, #contactmessagetextarea::placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  .contactusform input ::-ms-input-placeholder, #contactmessagetextarea::placeholder { /* Microsoft Edge */
    color: white;   
  }

#sendmessage{
    width: 290px;
    font-weight: bold;
    border:none;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 8px;
    font-size: 1.5em;
    color: white;
    box-shadow: 2px 2px 4px rgb(1, 99, 102);
    padding: 0.2rem;
    background-color: rgb(4, 230, 230);
    
}
#sendmessage:hover{
   background-color: rgb(134, 243, 247);
    font-size: 1.6em;
}
#sendmessage .material-icons{
    margin-top: 0rem;
    font-size: 1.5em;
    
            padding-top: 1.3rem;
            margin-right: 0rem;
            line-height: 0rem;
}
#sendmessage .material-icons:hover{
  font-size: 1.7em;
}
p .material-icons{
    font-size: 1.3em;
font-family: 'Ubuntu', sans-serif;
        padding-top: 0rem;
        margin-right: 0rem;
        line-height: 0rem;
    }
    .contactusform button .material-icons {
        transform: rotate(-45deg);
    }
    
    

#changebytab{
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Antic Slab', serif;
    /* background-size: auto auto; */
    width: 100%;
    margin-left:20% ;
    height: inherit;
}
